.detail-img {
    height: 60vh;
    width: 80%;
    border: 1px solid #fff;
    border-radius: 25px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.poster {
    width: 220px;
    height: 280px;
    border: 1px solid #fff;
    border-radius: 15px;
}

@media (max-width:900px){
    .detail-img{
        height: 45vh;
    }

    .poster {
        width: 170px;
        height: 230px;
    }
}

@media (max-width:500px){
    .detail-img{
        height: 30vh;
    }

    .poster {
        width: 100px;
        height: 130px;
    }
}