.img-sec {
    background-color: #000;
    display: flex;
    align-items: center;
    border-bottom: 10px solid #242424;
    color: #fff;
    padding: 5rem 10%;
    gap: 30px;
}

.img-sec .text-div {
    flex-basis: 55%;
    order: 2;
}

.img-sec img {
    flex-basis: 45%;
    width: 50%;
}

.img-sec h2 {
    color: #fff;
    font-size: 3.1rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.img-sec p {
    font-size: 24px;
    font-weight: 400;
}

@media (max-width:1000px) {
    .img-sec{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .img-sec img {
        width: 75%;
    }

    .img-sec h2{
        font-size:2rem ;
        text-align: center;
    }

    .img-sec p {
        font-size: 1.5rem;
        text-align: center;
    }
}


@media (max-width:600px) {

    .img-sec h2{
        font-size:1.25rem ;
        text-align: center;
    }

    .img-sec p {
        font-size: 1rem;
        text-align: center;
    }
}