.vid-sec {
    background-color: #000;
    display: flex;
    align-items: center;
    border-bottom: 10px solid #242424;
    color: #fff;
    display: flex;
    padding: 5rem 10%;
    gap: 30px;
    height: 65vh;
}

.vid-sec .text-div {
    flex-basis: 55%;
    padding-bottom: 2rem;
}

.vid-sec .vid-frame {
    position: relative;
    flex-basis: 45%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.vid-frame img {
    position: absolute;
    top: -27vh;
    width: 500px;
    z-index: 5;
}

.vid-frame video {
    position: absolute;
    top: -185px;
    left: 87px;
    width: 323px;
    height: 200px;
}

.vid-frame #vid1{
    height: 209px;
    top: -127px;
    width: 396px;
    left: 52px;
}

.vid-sec h2 {
    font-size: 3.1rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.vid-sec p {
    font-size: 24px;
    font-weight: 400;
}

@media (max-width:1000px) {
    .vid-sec{
        height: 95vh;
        flex-direction: column;
        text-align: center;
    }

    .vid-frame img{
        left: -200px;;
        top:-100px;
        width: 400px;
    }

    .vid-frame #vid1 {
        height: 165px;
        top: -37px;
        width: 364px;
        left: -183px;
    }

    .vid-frame video {
        position: absolute;
        top: -94px;
        left: -132px;
        width: 257px;
        height: 183px;
    }

    .vid-sec h2{
        font-size:2rem ;
    }

    .vid-sec p {
        font-size: 1.5rem;
    }
}

@media (max-width:600px) {

    .vid-sec h2{
        font-size:1.25rem ;
        text-align: center;
    }

    .vid-sec p {
        font-size: 1rem;
        text-align: center;
    }
}