.accor-sec {
    background: #000;
    color: #fff;
    padding: 4rem;
    border-bottom: 10px solid #242424;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.accor-sec .accor{
    width: 72%;
}

.accor-sec .accor-item{
    border: 0 !important;
}

.accor .accor-btn {
    background-color: #212222 !important;
    color: #93939b;
    border: 0 !important;
    font-size: 26px;
    border-radius: 0 !important;
    padding: 1.75rem !important;
}

.accor-sec h2{
    border: 0 !important;
}

.seconhd{
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: 900;
    text-align: center;
}

.accordion-button{
    font-size: 2rem;
}

@media (max-width:1000px) {
    .accor-sec .accor {
        width: 95%;
    }
}

@media (max-width:600px){
    .accor-sec .accor{
        width: 100%;
    }

    .accor-sec .accor-btn{
        font-size: 1rem;
    }
}